@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=IBM+Plex+Serif&display=swap');

:root {
    --cor-primaria: #00211D;
    --cor-secundaria: #7CCCBD;
    --cor-terciaria: #C0B6AD;
    --cor-destaque: #641B2E;

    --fonte-principal: "IBM Plex Serif", serif;
    --fonte-secundaria: "Ancizar Sans", sans-serif;

    --fonte-tamanho-titulo: 3rem;
    --fonte-tamanho-texto: 1.3rem;
    --fonte-tamanho-menu: 2.1rem;
}

* {
    padding: 0;
    margin: 0;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    background-color: var(--cor-terciaria);
    top: 0;
    left: 0;
    height: 60px;
    font-family: var(--fonte-secundaria);
}

.cabecalho__logotipo {
    color: #626F47;
    font-size: 3.1rem;
    font-weight: 900;
}

.cabecalho__nav__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.7rem;
}

.cabecalho__nav__menu__links {
    font-size: var(--fonte-tamanho-menu);
    color: #641B2E;
    text-decoration: none;
    font-weight: 900;
}

.cabecalho__nav__menu__links:hover {
    color: #537D5D;
}

.cabecalho__contato {
    font-size: var(--fonte-tamanho-menu);
    color: #641B2E;
    padding: 5px 20px;
    background-color: #626F47;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 900;
}

.cabecalho__contato:hover {
    background-color: #00211D;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-principal);
}

.conteudo__categorias {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 2%;
    width: 100%;
    border-top: 5px solid #00322D;
    padding-top: 2%;
}

.conteudo__categorias__inverso {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    gap: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-top: 5px solid #00322D;
    padding-top: 2%;
}

.conteudo__categorias__texto__titulo {
    margin: 2% 0% 2% 6%;
    font-size: var(--fonte-tamanho-titulo);
    color: var(--cor-terciaria);
}

.conteudo__categorias__texto__lista {
    margin: 0% 0% 3% 0%;
}

li {
    font-size: var(--fonte-tamanho-texto);
    margin: 0% 0% 3% 2%;
    list-style: none;
    padding: 0px 30px;
    background-image: url("/Site-pub-jose/Site-pub/assets/trevo.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
}

h3 {
    font-size: 1.5rem;
    margin: 4% 0% 4% 6%;
}

.conteudo__categorias__img__foto {
    width: 100%;
    max-width: 500px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid var(--cor-destaque);
}